<%= if @current_user do %>
<script type="text/javascript">
  window.location = window.location + "tasks";
</script>
<% end %>

<div class="row">
  <div class="col-12">
    <h1>Welcome to Tasktrack</h1>
    <%= link "Sign Up", class: "btn btn-lg btn-block btn-info", to: Routes.user_path(@conn, :new) %>
  </div>
</div>