<%# table design copied from bootstrap4 example https://getbootstrap.com/docs/4.0/content/tables/ %>

<%= if String.equivalent?(@conn.request_path, "/tasks") do %>
  <h1>Tasks</h1>
<% else %>
  <h1>My Tasks</h1>
<% end %>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Title</th>
      <%= if String.equivalent?(@conn.request_path, "/tasks") do %>
        <th scope="col">Who</th>
      <% end %>
      <th scope="col">Description</th>
      <th scope="col">Time Spent (minutes)</th>
    </tr>
  </thead>

  <tbody>
    <%= for task <- @tasks do %>
      <tr>
        <th scope="row">
          <%= if task.complete do %>
            👍
          <% else %>
            👎
          <% end %>
        </th>
        <td>
          <%= link task.title, to: Routes.task_path(@conn, :show, task) %>
        </td>
        <%= if String.equivalent?(@conn.request_path, "/tasks") do %>
          <td>
            <%= link task.user.name, to: Routes.user_path(@conn, :show, task.user) %>
          </td>
        <% end %>
        <td id="tasks-description">
          <%= task.description %>
        </td>
        <td>
          <%= task.duration %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= if @current_user do %>
  <%= link "New Task", class: "btn btn-lg btn-block btn-info", to: Routes.task_path(@conn, :new) %>
<% end %>